<% provide(:title, "About Me") %>
<section>
  <h1>About page</h1>
  <p>Want to know more about me?</p>
  <p>
    <picture>
      <img srcset="http://cdn.kagumba.com/me.svg" type="image/svg+xml" width="400">
    </picture>
  </p>
  <p>
    <a href="http://hs.kagumba.com/port">Portfolio link (WIP)</a> |
     <a href="http://hs.kagumba.com">Portfolio link</a> |
     <a href="http://hs.kagumba.com/svg">Me animation</a>
  </p>
</section>
