<% provide(:title, "Home") %>
<section>
    <div class="center jumbotron text-center">
        <p class="display-3">Learning Rails application.</p>

        <p class="lead">Starting to learn ROR, Heroku deployment and git versioning.</p>
        <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary-outline" %>
    </div>
    <%= link_to image_tag("hs-logo.png", alt: "HS"), "http://hs.kagumba.com" %>
</section>
