<footer class="footer">
    <small>#TIA</small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Blog", microposts_path %></li>
        </ul>
    </nav>
</footer>
