<nav class="navbar navbar-full navbar-dark bg-inverse">
    <%= link_to "Learning rails", root_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav pull-xs-right">
        <%# <li class="nav-item"><%= link_to "Home", "#", class: "nav-link" %1></li> %>
        <li class="nav-item"><%= link_to "Help", help_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "Login", new_user_path, class: "nav-link" %></li>
    </ul>
</nav>
